{% extends 'list.html' %}
{% load static %}
{% block head_list %}

{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 15%;">Nombre</th>
        <th scope="col" style="width: 15%;">Descripción</th>
        <th scope="col" style="width: 15%;">Nivel</th>
        <th scope="col" style="width: 15%;">Periodo</th>
        <th scope="col" style="width: 15%;">Informe Final</th>
        <th scope="col" style="width: 15%;">Empleado</th>
        <th scope="col" style="width: 15%;">Categoría</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for project in projects %}
    <tr>
        <td>{{ project.titulo }}</td>
        <td>{{ project.descripcion }}</td>
        <td>{{ project.nivel }}</td>
        <td>{{ project.fechaInicio }} - {{ project.fechaFin }} </td>
        <td>{{ project.informeFinal }}</td>
        <td>{{ project.empleado.nombre }}</td>
        <td>{{ project.categoria.nombre }}</td>
        <td><a href="{% url 'project:project_update' pk=project.id %}" class="btn btn-warning btn-flat">Editar</a>
            <a href="{% url 'project:project_delete' pk=project.id %}" class="btn btn-danger btn-flat">Eliminar</a></td>
    </tr>
    {% endfor %}
{% endblock %}

{% block javascript %}

{% endblock %}