{% extends 'list.html' %}
{% load static %}
{% block head_list %}

{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 15%;">Nombre</th>
        <th scope="col" style="width: 15%;">Categoría</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for project in projects %}
    <!-- <tr>
        <td>{{ project.nombre }}</td>
        <td><img src="{{cat.foto.url}}"  width="50" height="50"></td>
        <td><a href="{% url 'adm:category_update' pk=cat.id %}" class="btn btn-warning btn-flat">Editar</a>
            <a href="{% url 'adm:category_delete' pk=cat.id %}" class="btn btn-danger btn-flat">Eliminar</a></td>
    </tr> -->
    {% endfor %}
{% endblock %}

{% block javascript %}

{% endblock %}