{% extends 'list.html' %}
{% load static %}
{% block head_list %}

{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 15%;">Nombres</th>
        <th scope="col" style="width: 15%;">Apellidos</th>
        <th scope="col" style="width: 10%;">Dni</th>
        <th scope="col" style="width: 15%;">Dirección</th>
        <th scope="col" style="width: 15%;">Fecha de Nacimiento</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for empl in employees %}
    <tr>
        <td>{{ empl.nombre }}</td>
        <td>{{ empl.apellidos }}</td>
        <td>{{ empl.dni }}</td>
        <td>{{ empl.direccion }}</td>
        <td>{{ empl.fechaNacimiento }}</td>
        <td><a href="{% url 'adm:client_update' pk=client.id %}" class="btn btn-warning btn-flat">Editar</a>
        <a href="/adm/client/delete/{{client.id}}/" class="btn btn-danger btn-flat">Eliminar</a></td>
    </tr>
    {% endfor %}
{% endblock %}

{% block javascript %}

{% endblock %}